.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
}


.nav_link {
    background-color: gold;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;

}
